body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-right: 4px;
}

.app {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  flex-wrap: wrap;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.guess-button {
  margin-top: 8px !important;
}

.guess {
  padding: 4px;
  color: black;
}

.guess-list {
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answers {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.answer,
.guess {
  margin: 4px;
  padding: 4px;
}

.answers-button,
.new-game-button {
  width: 200px;
}