
.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

input {
  margin-right: 4px;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.guess {
  padding: 4px;
  color: black;
}

.guess-list {
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answers {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.answer, .guess {
  margin: 4px;
  border: 1px solid white;
  padding: 4px;
  color:black;
  background: #D7D7D7;
}

.answers-button, .new-game-button {
  width: 200px;
}
